@font-face {
	font-family: "KyivType Sans";
	src: url("../fonts/KyivTypeSans-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "KyivType Title";
	src: url("../fonts/KyivTypeSans-Regular3.ttf");
	font-weight: 400;
}