*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "KyivType Sans", sans-serif;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-track {
    background: rgb(23 35 67);
    /* display: none; */
}

body::-webkit-scrollbar-thumb {
    background-color: #cfb895;
    border-radius: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

body *::-moz-selection {
    background: #2468C5;
    color: #F5F6FB;
}
  
body *::-webkit-selection {
    background: #2468C5;
    color: #F5F6FB;
}
  
body *::selection {
    background: #2468C5;
    color: #F5F6FB;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.hidden {
	display: none;
}

.color {
    color: #CFB895 !important;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

/* Main styles */
header.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999;
	transition: all .5s ease;
}

header.header::after,
header.header::before {
    content: '';
    width: 1px;
    height: 100vh;
    position: fixed;
    background: #CFB895;
    top: 0;
    margin-top: 71px;
}

header.header::before {
    left: 34px;
}

header.header::after {
    right: 34px;
}

header.header.active__menu {
    background: #172343;
}

header.header.active__map,
header.header.active__apart {
    background: #172343;
}

.header__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CFB895;
    align-items: center;
}

a.logo {
    display: flex;
    background: url(../img/logo__color.svg) no-repeat center center;
    width: 118px;
    height: 41px;
    margin: 15px 0;
    transition: all .5s ease;
}

header.header.active__menu .logo,
header.header.active__map .logo,
header.header.active__apart .logo {
    background: url(../img/logo__color.svg) no-repeat center center;
}

.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #172343;
    color: #fff;
    overflow: hidden;
}

a.header__control {
    font-size: 15px;
    /* font-family: 'KyivType'; */
    text-transform: uppercase;
    color: #fff;
    display: flex;
    padding: 0 62px;
    border-right: 1px solid #CFB895;
    height: 71px;
    align-items: center;
    transition: all .5s cubic-bezier(0.92, 0.79, 0.35, 0.69);
}

a.header__control:hover {
    background: #CFB895;
    text-decoration: none;
    color: #000;
}

a.call__self.header__control {
    font-size: 16px;
}

a.call__reverse.header__control {
    font-size: 14px;
}

.left__block, .right__block {
    display: flex;
    align-items: center;
}

a.menu.header__control {
    border-right: none;
    width: 239px;
}

a.apartment.header__control {
    border-left: 1px solid #CFB895;
}

.first__screen.screen {
    position: relative;
    height: 300vh;
}

.scroll__wrapper {
    height: 300vh;
}

.scroll__video .screen__wrapper {
    background: rgba(0,0,0,.37);
}

.screen__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.first__screen .screen__subtitle {
    font-size: 20px;
    max-width: 300px;
    line-height: normal;
}

.screen__subtitle {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    /* font-family: KyivType Sans; */
    text-transform: uppercase;
}

.screen__title {
    color: #FFF;
    text-align: center;
    font-size: 112px;
    font-family: KyivType Title;
    letter-spacing: 31.92px;
    text-transform: uppercase;
}

.more__text {
    color: #FFF;
    text-align: center;
    font-size: 11px;
    /* font-family: KyivType Sans; */
    text-transform: uppercase;
}

.more__circle {
    border-radius: 98px;
    border: 1px solid #CFB895;
    width: 98px;
    height: 98px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY();
}

@keyframes transformArrow {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
}

.more__circle img {
    transition: all .5s ease;
    animation: transformArrow 2s ease-in-out infinite;
}

.screen__more {
    position: absolute;
    bottom: 20px;
}

span.menu__lines {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 9px;
    margin-left: 29px;
}

span.menu__line {
    width: 32px;
    height: 1px;
    background: #fff;
	transition: all .5s cubic-bezier(0.92, 0.79, 0.35, 0.69);
    position: relative;
}

a.menu.header__control:hover > span.menu__lines span.menu__line {
    background: #000;
}

.active__menu span.menu__line {
    background: #CFB895;
}

.active__menu span.menu__line.first__line {
    transform: rotate(45deg);
    top: 4px;
}

.active__menu span.menu__line.second__line {
    transform: rotate(-45deg);
    bottom: 4px;
}

.screen_1.screen {
    background: url(../img/mobile_s2.jpg) no-repeat center center;
    background-color: #172341;
    background-blend-mode: normal, luminosity;
    background-size: cover;
}

.screen_1 .screen__subtitle.color {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3.06px;
    text-transform: uppercase;
}

.screen_1 .screen__title {
    font-style: normal;
    font-weight: 400;
    line-height: 93.5%;
    text-transform: uppercase;
    font-size: 96px;
    margin: 23px 0 39px 0;
}

.screen__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.screen__text p {
    color: rgba(255, 255, 255, 0.81);
    text-align: center;
    font-size: 18px;
    font-family: KyivType Sans;
    font-style: normal;
    line-height: normal;
    max-width: 521px;
    margin-bottom: 29px;
    margin-top: 0;
}

.screen__text p:nth-child(2) {
    max-width: 475px;
}

.screen__imgs {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    transition: all 1s ease;
}

.screen_2 .apart__bottom.fp-bg {
    position: absolute;
    bottom: 0;
    transition: all 1s ease;
    height: 50vh;
    width: 100%;
}

.next__screen {
    position: absolute;
    height: 0vh;
    /* display: flex; */
    overflow: hidden;
    transition: all 1s ease;
    z-index: 9;
    height: 0vh;
}

div#screen_2 {
    position: relative;
    height: 300vh;
    align-items: flex-start;
}

.screen_2 .screen__wrapper {
    justify-content: flex-start;
    position: relative;
    top: 0vh;
    /* transition: all 1s ease; */
}

.apart__count {
    display: flex;
    height: 50vh;
    align-items: center;
    max-width: 1076px;
    width: 100%;
    justify-content: space-between;
    padding-top: 70px;
}

.apart__bottom {
    height: 50vh;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    border-top: 1px solid #CFB895;
}

.apart__count__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: #CFB895; */
    text-align: center;
    /* font-size: 128px; */
    font-family: KyivType Sans;
    font-style: normal;
    font-weight: 400;
    /* line-height: 234%; */
    text-transform: uppercase;
}

.apart__count__num {
    color: #CFB895;
    font-size: 128px;
    line-height: 120%;
    font-family: 'KyivType Title';
}

.apart__count__text {
    font-size: 20px;
    font-family: 'KyivType Title';
}

.screen__wrapper.row-direction {
    flex-direction: row;
}

.screen__title.small {
    font-size: 48px;
    letter-spacing: normal;
    text-align: left;
    line-height: normal;
    margin: 23px 0 43px 0;
}

.wrapper__left {
    display: flex;
    width: 50vw;
    background: #172343;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all .5s ease;
}

.inner__wrapper__left {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.slider__items {
    max-width: 550px;
}

.wrapper__right {
    width: 50vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    background: transparent;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;
    transition: all .5s ease;
}

.wrapper__right img {
    width: 100%;
    /* object-fit: cover; */
    align-items: flex-end;
    display: flex;
    padding-top: 0px;
}

.screen__text.left p {
    text-align: left;
    color: rgba(255, 255, 255, 0.85);
    font-size: 16px;
}

.screen_5 .screen__subtitle.color {
    font-size: 12px;
    line-height: normal;
    letter-spacing: 3.06px;
}

.screen_5 .screen__text p:last-child {
    margin-bottom: 0;
}

.screen__wrapper.row-reverse {
    flex-direction: row-reverse;
}

.slider__text {
    color: #FFF;
    font-size: 20px;
    line-height: normal;
    max-width: 315px;
    border-top: 1px solid #CFB895;
    padding-top: 5px;
}

.slider__wrapper {
    margin-top: 10px;
}

.slider__control {
    display: flex;
    align-items: center;
    margin-top: 35px;
    bottom: 30px;
    transition: all .5s ease;
    opacity: 1;
}

.slider__counter {
    font-size: 11px;
    font-family: KyivType Sans;
    line-height: normal;
    margin: 0 12px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.slider__arrow {
    width: 61px;
    height: 39px;
    background: url(../img/slider__arrow.svg) no-repeat center center;
    border-radius: 500px;
    background-color: #192749;
    cursor: pointer;
    transition: all .5s ease;
}

.slider__arrow:hover {
	background-color: rgb(207 184 149);
}

.slider__arrow.next {
    transform: rotate(180deg);
}

.screen_18.screen {
    background: url(../img/map.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

.map__imgs {
    display: none;
}

span.map__icon__text {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: normal;
    text-decoration: underline;
    margin-top: 9px;
    transition: all .5s ease;
}

.map__icon:hover > span.map__icon__text {
}

.map__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    cursor: default;
}

.map__icon.med {
    top: 128px;
    left: 636px;
}

.map__icon.theatre {
    top: 239px;
    left: 489px;
    max-width: 164px;
}

.map__icon.garden_lenin {
    left: 669px;
    top: 293px;
    max-width: 122px;
}

.map__icon.rebup {
    top: 443px;
    left: 531px;
    max-width: 122px;
}

.map__icon.kurul {
    top: 265px;
    left: 861px;
    flex-direction: row;
}

.map__icon.kurul span.map__icon__text {
    margin: 0 0 0 8px;
}

.map__icon.minz span.map__icon__text {
    margin: 0 0 0 8px;
}

.map__icon.minz {
    top: 388px;
    left: 835px;
    flex-direction: row;
}

.map__icon.ziya {
    top: 489px;
    left: 738px;
    flex-direction: row;
}

.map__icon.ziya span.map__icon__text {
    max-width: 110px;
    text-align: left;
    margin: 0 0 0 7px;
}

.map__icon.musul {
    left: 925px;
    top: 515px;
    max-width: 122px;
}

.map__icon.museum {
    top: 594px;
    left: 757px;
    max-width: 130px;
}

.map__icon.aleya {
    flex-direction: row;
    top: 560px;
    left: 1147px;
}

.map__icon.aleya span.map__icon__text {
    margin: 0 0 0 9px;
    max-width: 122px;
    text-align: left;
}

.map__icon.aksak {
    top: 705px;
    left: 1145px;
    flex-direction: row;
}

.map__icon.aksak span.map__icon__text {
    text-align: left;
    max-width: 160px;
    margin: 0 0 0 14px;
}

.map__icon.syu {
    top: 790px;
    left: 1125px;
    flex-direction: row;
}

.map__icon.syu span.map__icon__text {
    margin: 0 0 0 10px;
    max-width: 160px;
    text-align: left;
}

.map__icon.most {
    top: 847px;
    left: 1249px;
    flex-direction: row;
}

.map__icon.most span.map__icon__text {
    margin: 0 0 0 10px;
}

.map__icon.new__bridge {
    left: 1117px;
    top: 467px;
    border: none;
}

.screen_19 .screen__title.small {
    margin: 0 0 29px 0;
}

a.play__btn {
    color: #172341;
    font-size: 11px;
    font-family: KyivType Sans;
    font-style: normal;
    line-height: normal;
    padding: 13px 28px;
    background: #CFB895;
    border-radius: 500px;
    text-transform: uppercase;
    transition: all .5s ease;
    text-decoration: none;
}

a.play__btn:hover {
	background: #fff;
	text-decoration: none;
}

.inner__item__title {
    color: #CFB895;
    font-size: 11px;
    font-family: KyivType Sans;
    font-style: normal;
    line-height: normal;
}

.inner__item__value.active {
    color: #FFF;
    font-size: 48px;
    font-family: KyivType Sans;
    font-style: normal;
    line-height: normal;
}

.inner__item__value {
    cursor: pointer;
    transition: all .5s ease;
}

.inner__item__value:hover {
    color: #cfb895;
}

.inner__item__value.active:hover {
    color: #fff;
    cursor: default;
}

.month__block.inner__item {
    height: 150px;
}

.year__block.inner__item {
    margin: 90px 0 81px 0;
}

.wrapper__right a.play__btn {
    bottom: 34px;
}

.slider__screen .slider__control {
	bottom: 30px;
}

.screen_21 .screen__title.small {
    margin: 0 0 86px 0;
}

.docs__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #CFB895;
}

.doc__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    border-bottom: 1px solid #CFB895;
}

.screen_21 .screen__wrapper {
    width: 885px;
}

a.doc__btn {
    border-radius: 58px;
    border: 1px solid #CFB895;
    width: 58px;
    height: 58px;
    display: flex;
    background: url(../img/download.svg) no-repeat center center;
    transition: all .5s ease;
}

a.doc__btn:hover {
	background: url(../img/download.svg) no-repeat center center;
	background-color: #CFB895;
}

.doc__title {
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 46px;
}

.doc__file {
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
}

.doc__date {
    display: flex;
    align-items: flex-end;
    height: 82px;
}

.doc__info {
    display: flex;
    flex-direction: column;
    margin-left: 98px;
}

.doc__left {
    display: flex;
    align-items: center;
}

.news__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.news__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 45px;
    align-items: center;
}

.screen_22 .screen__wrapper {
    padding: 0 62px;
    width: 100vw;
}

.screen_22 .screen__title.small {
    margin: 0;
}

.screen_22 .slider__arrow.prev {
    margin-right: 23px;
}

.news__item {
    display: flex;
    flex-direction: column;
    max-width: 429px;
    text-decoration: none;
    transition: all .5s ease;
    margin-right: 20px;
    outline: 0 !important;
}

span.news__date {
    margin: 21px 0;
    color: rgba(255, 255, 255, 0.40);
    font-size: 15px;
    line-height: normal;
}

h3.news__title {
    margin: 0 0 12px 0;
    color: #FFF;
    font-size: 20px;
    line-height: normal;
    text-decoration-line: underline;
    transition: all .5s ease;
}

.news__text {
    font-size: 15px;
    line-height: normal;
    color: #fff;
    text-decoration: none;
}

.news__img {
    transition: all .5s ease;
    border: 1px solid transparent;
}

.news__img img {
    width: 100%;
}

.news__item:hover > .news__img {
    border: 1px solid #CFB895;
}

.news__item:hover > h3.news__title {
    color: #CFB895;
    text-decoration: none;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0 34px;
    align-items: center;
    justify-content: flex-end;
}

.company__cart {
    max-width: 400px;
    width: 100%;
}

.company__text {
    color: #FFF;
    font-size: 24px;
    font-family: KyivType Sans;
    font-style: normal;
    line-height: normal;
    transition: all .5s ease;
}

.company__book {
    max-width: 400px;
    width: 100%;
    margin-left: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

span.company__book__text {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}

a.company__book__mail {
    color: #FFF;
    font-family: KyivType Sans;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    text-decoration-line: underline;
    transition: all .5s ease;
}

a.company__book__mail:hover {
    text-decoration: none;
    color: #c4af8d;
}

.new__bridge {
    color: #CFB895;
    text-align: center;
    font-size: 221px;
    line-height: normal;
    letter-spacing: 39.96px;
    border-top: 1px solid #CFB895;
    font-family: 'KYIVTYPE TITLE';
}

.footer__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 24px;
    padding: 0 14px;
}

a.footer__link {
    color: #FFF;
    font-size: 14px;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
    transition: all .5s ease;
}

a.footer__link:hover {
    color: #CFB895;
}

.beznebes {
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
}

.company__info {
    display: flex;
    align-items: center;
    margin-bottom: 240px;
    width: 100%;
    max-width: 960px;
}

a.phone.company__text:hover {
    color: #CFB895;
}

a.phone.company__text:focus {
	color: #fff;
}

.address.company__text {
    margin-bottom: 56px;
}

/* MODAL NAV STYLES */

.modal__nav__items {
    width: 50%;
    padding: 237px 0 0 214px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-right: 1px solid #CFB895;
}

.modal__nav__wrapper {
    display: flex;
    z-index: 9;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    opacity: 0;
}

.modal__nav {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    opacity: 0;
    transition: all .5s ease;
}

.modal__nav img {
	width: 100%;
}

.modal__nav__overlay {
    position: absolute;
    background: #172343;
    width: 100%;
    height: 100%;
}

.modal__nav__img {
    width: 50%;
    transform: translateY(0vh);
    transition: all .5s ease;
}

.modal__nav__title {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 40px;
}

.nav__item {
    font-family: 'KyivType Title';
    color: #ffffff;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    transition: all .5s ease;
}

.nav__items__wrapper {
    margin-bottom: 62px;
    display: flex;
    flex-direction: column;
}

.nav__post__items {
    display: flex;
    flex-direction: column;
}

.nav__post__item {
    color: #FFF;
    font-family: 'KyivType Title';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    transition: all .5s ease;
}

.nav__item:hover {
    color: #cfb895;
    transform: translateX(65px);
}

.nav__post__item:hover {
    color: #cfb895;
}

.nav__img__wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

a.presentation {
    display: flex;
    align-items: center;
    cursor: pointer;
	text-decoration: none;
	margin-top: 62px;
}

.download {
    border-radius: 58px;
    border: 1px solid #CFB895;
    width: 44px;
    height: 44px;
    display: flex;
    background: url(../img/download.svg) no-repeat center center;
    transition: all .5s ease;
    cursor: pointer;
}

span.download__text {
    color: #CFB895;
    font-size: 20px;
    font-family: KyivType Sans;
    font-style: normal;
    line-height: normal;
    margin-left: 19px;
    cursor: pointer;
    transition: all .5s ease;
}

a.presentation:hover > .download {
	background: url(../img/download.svg) no-repeat center center;
	background-color: #CFB895;
}

a.presentation:hover > span.download__text {
	color: #CFB895;
}

.nav__item:nth-child(2):hover ~ .modal__nav__img {
    transform: translateY(-100vh);
}

.map__more {
    border-radius: 500px;
    background: #CFB895;
    padding: 11px 26px;
    color: #192749;
    text-align: center;
    font-family: KyivType Sans;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    bottom: 35px;
    transition: all .5s ease;
}

.map__more:hover {
    color: #192749;
    background: #fff;
}

.modal__map {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    opacity: 0;
    transition: all .5s ease;
    justify-content: center;
    color: #fff;
    align-items: center;
}

img.modal__map__bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.modal__map__items {
    position: relative;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all .5s ease;
}

.modal__map__close {
    position: absolute;
    top: 106px;
    right: 61px;
    border-radius: 500px;
    background: #172343;
    padding: 11px 23px;
    transition: all .5s ease;
    cursor: pointer;
    align-items: center;
    display: flex;
    z-index: 1;
    opacity: 0;
}

span.mmc__text {
    color: #FFF;
    font-family: KyivType Sans;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 22px;
}

.modal__map__close:hover {
    background: #cfb895;
}

.m__map__item {
    position: absolute;
    color: #FFF;
    text-align: center;
    font-family: KyivType Sans;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.m__map__item.river {
    top: 265px;
    left: 163px;
}

.m__map__item::before {
    content: '';
    height: 3px;
    width: 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.m__map__item::after {
    content: '';
    width: 1px;
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.m__map__item.home {
    top: 198px;
    left: 481px;
}

.m__map__item.mus {
    top: 384px;
    left: 418px;
}

.m__map__item.river::before,
.m__map__item.home::before,
.m__map__item.mus::before,
.m__map__item.kur::before,
.m__map__item.nb::before {
    top: 137px;
}

.m__map__item.river::after,
.m__map__item.home::after,
.m__map__item.mus::after,
.m__map__item.kur::after,
.m__map__item.nb::after {
    height: 117px;
    top: 22px;
}

.m__map__item.sof::before,
.m__map__item.gafuri::before {
    top: 157px;
}

.m__map__item.sof::after,
.m__map__item.gafuri::after {
    height: 117px;
    top: 42px;
}

.m__map__item.gafuri {
    max-width: 151px;
    top: 176px;
    left: 709px;
}

.m__map__item.lenin {
    top: 240px;
    left: 797px;
    max-width: 115px;
}

.m__map__item.lenin::before {
    top: 140px;
}

.m__map__item.lenin::after {
    height: 95px;
    top: 45px;
}

.m__map__item.kur {
    top: 250px;
    left: 947px;
}

.m__map__item.sof {
    top: 503px;
    left: 753px;
    max-width: 115px;
}

.m__map__item.nb {
    top: 360px;
    left: 1562px;
}

/* MODAL GALLERY */

.gallery__modal {
    position: absolute;
    z-index: 1;
}

.modal__gallery__close {
    position: absolute;
    top: 106px;
    right: 61px;
    border-radius: 500px;
    background: #172343;
    padding: 11px 23px;
    transition: all .5s ease;
    cursor: pointer;
    align-items: center;
    display: none;
    opacity: 0;
	z-index: 999;
}

.modal__gallery__close:hover {
    background: #cfb895;
}

.gallery__modal .slider__control {
    margin-top: 0;
    display: none;
    opacity: 0;
    z-index: 9;
}

.gallery__modal .slider__arrow {
    background-color: rgba(217, 217, 217, 0.17);
}

.gallery__modal .slider__arrow:hover {
    background-color: #192749;
}

.gallery__slider {
    max-width: 100vw;
    width: 100%;
}

.gallery__slider__item {
    width: 100vw;
}

/* MODAL VIDEO */

.video__modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transition: all 1s ease;
    transform: scale(1.5);
    opacity: 0;
}

.video__modal__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.video__btn {
    position: absolute;
    z-index: 99;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .5s ease;
}

a.video__btn img {
    max-width: 30px;
}

.video__modal__close {
    position: absolute;
    top: 106px;
    right: 61px;
    border-radius: 500px;
    background: #172343;
    padding: 11px 23px;
    transition: all .5s ease;
    cursor: pointer;
    align-items: center;
    display: flex;
    opacity: 0;
    z-index: 999;
}

.video__modal__close:hover {
    background: #cfb895;
}

.video__modal__container {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video__modal__container img {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    transition: all .5s ease;
}

.video__modal__container video {
    max-height: 90vh;
    width: 100%;
}

.video__modal__overlay {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), rgba(23, 35, 67, 0.90);
}

/* MODAL NEWS */

.modal__news {
    position: fixed;
    z-index: 999;
    background: #172343;
    width: 100vw;
    height: 100vh;
    transition: all .5s ease;
    opacity: 0;
    display: none;
}

.modal__news__close {
    position: absolute;
    top: 106px;
    right: 61px;
    border-radius: 500px;
    background: #172343;
    padding: 11px 23px;
    transition: all .5s ease;
    cursor: pointer;
    align-items: center;
    opacity: 0;
    display: none;
}

.modal__news__close:hover {
    background: #cfb895;
}

.modal__news__wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-end;
}

.modal__news__content {
    display: flex;
    align-items: center;
}

.mnc__left {
    transition: all 1s ease;
    border-right: 1px solid #CFB895;
    transform: translateY(-100vh);
    display: none;
}

.mnc__right {
    display: flex;
    padding: 0 0 0 165px;
    transition: all 1s ease;
    transform: translateY(100vh);
    display: none;
}

.mnc__date {
    color: rgba(255, 255, 255, 0.40);
    font-family: KyivType Sans;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

h3.mnc__title {
    color: #CFB895;
    font-family: 'KyivType Title';
    font-size: 48px;
    font-style: normal;
    line-height: normal;
    max-width: 540px;
    margin: 28px 0;
}

.mnc__text {
    color: #FFF;
    font-family: KyivType Sans;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    max-width: 430px;
}

.mnc__wrapper {
    max-width: 540px;
    width: 100%;
}

/* APARTAMENT */

div#apartment {
    display: flex;
    position: relative;
    padding: 284px 0;
}

.apartament__bg {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.apartment__wrapper {
    height: 1326px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.apart__info {
    position: sticky;
    top: 284px;
    right: 213px;
    z-index: 99;
    background: #172343;
    color: #fff;
    padding: 4px 37px 19px 24px;
}

.ai__title {
    color: #CFB895;
    font-family: 'KyivType Title';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.ai__text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.count__of__sales {
    margin: 38px 0;
}

.parking {
    z-index: 9;
    border-radius: 500px;
    background: #172343;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    padding: 11px 33px;
    cursor: pointer;
    transition: all .5s ease;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.parking:hover {
    background: #ffffff;
    color: #172343;
}

.apart__cord {
    z-index: 9;
}

.apart__cord svg {
    position: absolute;
    transition: all .5s ease;
    opacity: 0;
    z-index: 1;
}

svg.floor__9 {
    top: 72px;
    left: 265px;
}

svg.floor__8 {
    top: 210px;
    left: 200px;
}

svg.floor__7 {
    top: 415px;
    left: 197px;
}

svg.floor__6 {
    top: 607px;
    left: 197px;
}

svg.floor__5 {
    top: 799px;
    left: 195px;
}

svg.floor__4 {
    top: 994px;
    left: 193px;
}

svg.floor__3 {
    top: 1184px;
    left: 193px;
}

svg.floor__2 {
    top: 1379px;
    left: 189px;
}

.apart__cord svg path:hover {
    opacity: 1;
}

.modal__apart {
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cfb895;
    transform: translateX(100%);
    transition: all 1s ease;
}

.modal__apart__wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.modal__apart__title {
    color: #172343;
    font-family: 'KyivType Title';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 57px;
    transition: all .5s ease;
}

.back__btn__text {
    color: #172343;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.back__btn__arrow {
    border-radius: 500px;
    background: rgba(23, 35, 67, 0.17);
    margin-right: 18px;
    display: flex;
    width: 61px;
    height: 39px;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
}

.back__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.back__btn__arrow img {
    width: 100%;
    max-width: 17px;
}

span.maii__value {
    color: #192749;
    font-family: 'KyivType Title';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

span.maii__text {
    color: #172343;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.modal__apart__item__info {
    display: flex;
    flex-direction: column;
    transition: all .5s ease;
    opacity: 0;
}

.maii__floor {
    margin: 28px 0;
}

.modal__apart__info {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    height: 100vh;
    justify-content: space-between;
    padding: 139px 0 68px 62px;
    max-width: 340px;
    transition: all .5s ease;
}

.modal__apart__control {
    position: absolute;
    top: 50%;
    right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    transition: all .5s ease;
    opacity: 1;
}

.mac__up {
    transform: rotate(90deg);
    display: flex;
}

.mac__down {
    transform: rotate(-90deg);
    display: flex;
}

.mac__counter__value,
.mpc__counter__value {
    color: #192749;
    font-family: 'KyivType Title';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 70px;
    text-align: center;
}

.mac__counter__floor {
    color: #172343;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.mac__counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0 50px 0;
}

.mac__control {
    cursor: pointer;
    transition: all .5s ease;
    padding: 10px 12px;
    border-radius: 500px;
    width: 42px;
    height: 28px;
}

.mac__control:hover {
    background: #fff;
}

.back__btn:hover > .back__btn__arrow {
    background: #fff;
}

.modal__apart__item {
    max-width: 1284px;
    position: relative;
}

.modal__apart__items {
    max-width: 1284px;
    max-height: 760px;
}

.maii__square, .maii__floor, .maii__rooms {
    display: flex;
    flex-direction: column;
}

.slick-arrow.slick-disabled {
    opacity: 0;
    cursor: default;
}

/* APART HOVER/FOCUS SELECTORS */
.under__scheme {
    transition: all .5s ease;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.outer__scheme {
    cursor: pointer;
    position: absolute;
}

.f2__a1 .under__scheme,
.f3__a1 .under__scheme {
    top: 150px;
    left: 70px;
}

.f2__a1 .outer__scheme,
.f3__a1 .outer__scheme {
    top: 150px;
    left: 70px;
}

.f2__a2 .under__scheme,
.f3__a2 .under__scheme {
    top: 150px;
    left: 366px;
}

.f2__a2 .outer__scheme, 
.f3__a2 .outer__scheme {
    top: 150px;
    left: 366px;
}

.f2__a3 .under__scheme,
.f3__a3 .under__scheme {
    top: 150px;
    left: 669px;
}

.f2__a3 .outer__scheme,
.f3__a3 .outer__scheme {
    top: 150px;
    left: 669px;
}

.f2__a4 .under__scheme,
.f3__a4 .under__scheme {
    top: 150px;
    left: 822px;
}

.f2__a4 .outer__scheme,
.f3__a4 .outer__scheme {
    top: 150px;
    left: 822px;
}

.f2__a5 .under__scheme,
.f3__a5 .under__scheme {
    top: 153px;
    left: 920px;
}

.f2__a5 .outer__scheme,
.f3__a5 .outer__scheme {
    top: 153px;
    left: 920px;
}

.f2__a6 .under__scheme,
.f3__a6 .under__scheme {
    top: 330px;
    left: 85px;
}

.f2__a6 .outer__scheme,
.f3__a6 .outer__scheme {
    top: 330px;
    left: 85px;
}

.f2__a7 .under__scheme,
.f3__a7 .under__scheme {
    top: 380px;
    left: 406px;
}

.f2__a7 .outer__scheme,
.f3__a7 .outer__scheme {
    top: 380px;
    left: 406px;
}

.f2__a8 .under__scheme,
.f3__a8 .under__scheme {
    top: 380px;
    left: 562px;
}

.f2__a8 .outer__scheme,
.f3__a8 .outer__scheme {
    top: 380px;
    left: 562px;
}

.f2__a9 .under__scheme,
.f3__a9 .under__scheme {
    top: 380px;
    left: 767px;
}

.f2__a9 .outer__scheme,
.f3__a9 .outer__scheme {
    top: 380px;
    left: 767px;
}

.f2__a10 .under__scheme,
.f3__a10 .under__scheme {
    top: 338px;
    left: 907px;
}

.f2__a10 .outer__scheme,
.f3__a10 .outer__scheme {
    top: 338px;
    left: 907px;
}


.f4__a1 .under__scheme,
.f5__a1 .under__scheme,
.f6__a1 .under__scheme {
    top: 150px;
    left: 70px;
}

.f4__a1 .outer__scheme,
.f5__a1 .outer__scheme,
.f6__a1 .outer__scheme {
    top: 150px;
    left: 70px;
}

.f4__a2 .under__scheme,
.f5__a2 .under__scheme,
.f6__a2 .under__scheme {
    top: 150px;
    left: 366px;
}

.f4__a2 .outer__scheme,
.f5__a2 .outer__scheme,
.f6__a2 .outer__scheme {
    top: 150px;
    left: 366px;
}

.f4__a3 .under__scheme,
.f5__a3 .under__scheme,
.f6__a3 .under__scheme {
    top: 150px;
    left: 672px;
}

.f4__a3 .outer__scheme,
.f5__a3 .outer__scheme,
.f6__a3 .outer__scheme {
    top: 150px;
    left: 672px;
}

.f4__a4 .under__scheme,
.f5__a4 .under__scheme,
.f6__a4 .under__scheme {
    top: 150px;
    left: 945px;
}

.f4__a4 .outer__scheme,
.f5__a4 .outer__scheme,
.f6__a4 .outer__scheme {
    top: 150px;
    left: 945px;
}

.f4__a5 .under__scheme,
.f5__a5 .under__scheme,
.f6__a5 .under__scheme {
    top: 330px;
    left: 85px;
}

.f4__a5 .outer__scheme,
.f5__a5 .outer__scheme,
.f6__a5 .outer__scheme {
    top: 330px;
    left: 85px;
}

.f4__a6 .under__scheme,
.f5__a6 .under__scheme,
.f6__a6 .under__scheme {
    top: 380px;
    left: 410px;
}

.f4__a6 .outer__scheme,
.f5__a6 .outer__scheme,
.f6__a6 .outer__scheme {
    top: 380px;
    left: 410px;
}

.f4__a7 .under__scheme,
.f5__a7 .under__scheme,
.f6__a7 .under__scheme {
    top: 380px;
    left: 565px;
}

.f4__a7 .outer__scheme,
.f5__a7 .outer__scheme,
.f6__a7 .outer__scheme {
    top: 380px;
    left: 565px;
}

.f4__a8 .under__scheme,
.f5__a8 .under__scheme,
.f6__a8 .under__scheme {
    top: 380px;
    left: 772px;
}

.f4__a8 .outer__scheme,
.f5__a8 .outer__scheme,
.f6__a8 .outer__scheme {
    top: 380px;
    left: 772px;
}

.f4__a9 .under__scheme,
.f5__a9 .under__scheme,
.f6__a9 .under__scheme {
    top: 338px;
    left: 910px;
}

.f4__a9 .outer__scheme,
.f5__a9 .outer__scheme,
.f6__a9 .outer__scheme {
    top: 338px;
    left: 910px;
}


.f7__a1 .under__scheme {
    top: 150px;
    left: 70px;
}

.f7__a1 .outer__scheme {
    top: 150px;
    left: 70px;
}

.f7__a2 .under__scheme {
    top: 150px;
    left: 673px;
}

.f7__a2 .outer__scheme {
    top: 150px;
    left: 673px;
}

.f7__a3 .under__scheme {
    top: 150px;
    left: 945px;
}

.f7__a3 .outer__scheme {
    top: 150px;
    left: 945px;
}

.f7__a4 .under__scheme {
    top: 335px;
    left: 85px;
}

.f7__a4 .outer__scheme {
    top: 335px;
    left: 85px;
}

.f7__a5 .under__scheme {
    top: 380px;
    left: 565px;
}

.f7__a5 .outer__scheme {
    top: 380px;
    left: 565px;
}

.f7__a6 .under__scheme {
    top: 335px;
    left: 910px;
}

.f7__a6 .outer__scheme {
    top: 335px;
    left: 910px;
}


.f8__a1 .under__scheme {
    top: 150px;
    left: 70px;
}

.f8__a1 .outer__scheme {
    top: 150px;
    left: 70px;
}

.f8__a2 .under__scheme {
    top: 150px;
    left: 673px;
}

.f8__a2 .outer__scheme {
    top: 150px;
    left: 673px;
}

.f8__a3 .under__scheme {
    top: 150px;
    left: 898px;
}

.f8__a3 .outer__scheme {
    top: 150px;
    left: 898px;
}

.f8__a4 .under__scheme {
    top: 335px;
    left: 85px;
}

.f8__a4 .outer__scheme {
    top: 335px;
    left: 85px;
}

.f8__a5 .under__scheme {
    top: 380px;
    left: 565px;
}

.f8__a5 .outer__scheme {
    top: 380px;
    left: 565px;
}

.f8__a6 .under__scheme {
    top: 340px;
    left: 910px;
}

.f8__a6 .outer__scheme {
    top: 340px;
    left: 910px;
}


.f9__a1 .under__scheme {
    top: 153px;
    left: 132px;
}

.f9__a1 .outer__scheme {
    top: 153px;
    left: 132px;
}

.f9__a2 .under__scheme {
    top: 152px;
    left: 690px;
}

.f9__a2 .outer__scheme {
    top: 152px;
    left: 690px;
}

.f9__a3 .under__scheme {
    top: 152px;
    left: 922px;
}

.f9__a3 .outer__scheme {
    top: 152px;
    left: 922px;
}

.f9__a4 .under__scheme {
    top: 347px;
    left: 109px;
}

.f9__a4 .outer__scheme {
    top: 347px;
    left: 109px;
}

.f9__a5 .under__scheme {
    top: 392px;
    left: 575px;
}

.f9__a5 .outer__scheme {
    top: 392px;
    left: 575px;
}

.f9__a6 .under__scheme {
    top: 344px;
    left: 935px;
}

.f9__a6 .outer__scheme {
    top: 335px;
    left: 910px;
}


/* DETAIL APART SELECTORS */

.modal__apart__detail {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cfb896;
    transition: all 1s ease;
    transform: translateX(100%);
}

span.mad__book__text {
    color: #172343;
    font-family: KyivType Sans;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
    transition: all .5s ease;
}

span.mad__book__icon {
    background: #172343;
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    transition: all .5s ease;
}

a.mad__book {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 38px;
    transition: all .5s ease;
}

.mad__wrapper {
    display: flex;
    justify-content: center;
}

a.mad__book:hover > span.mad__book__icon {
    background: #fff;
}

a.mad__book:hover > span.mad__book__text {
    color: #fff;
}

.modal__apart ul.slick-dots {
    display: none !important;
}

.mad__scheme {
    display: flex;
    align-items: center;
}

.mad__scheme img {
    max-height: 500px;
}

.second__floor, .first__floor {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.second__floor {
    display: none;
    margin-left: 50px;
}

.floor__text {
    display: none;
    margin-top: 15px;
    color: #172343;
    font-size: 18px;
}

/* PARKING STYLES */

.modal__park {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background: #CFB895;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
    transform: translateX(150%);
}

.modal__park__info {
    position: absolute;
    top: 139px;
    left: 61px;
    z-index: 9;
}

.modal__park__control {
    position: absolute;
    top: 50%;
    right: 86px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mpc__up.mac__control {
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mpc__down.mac__control {
    transform: rotate(-90deg);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.modal__park__items {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all 1s ease;
    transform: translateY(00%);
}

.mp__item {
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cfb895;
    transition: all .5s ease;
}

/* MODAL FORM */

.modal__call {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999999;
    display: none;
    justify-content: center;
    align-items: center;
    background: #17234380;
    transition: all .5s ease;
    opacity: 0;
}

.modal__call__wrapper {
    position: relative;
    background: #CFB895;
    padding: 90px 30px 60px 30px;
    max-width: 520px;
    transition: all .5s ease;
    opacity: 0;
}

.mc__title {
    color: #172343;
    font-family: 'KyivType Title';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.mc__text {
    color: #172343;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin: 14px 0 46px 0;
}

.modal__call form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form__input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #172343;
    color: #172343;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    padding: 14px 0;
    margin-bottom: 26px;
    outline: 0;
}

.form__input::-webkit-input-placeholder {
    color: #172343;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.form__input::-moz-placeholder          {
    color: #172343;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.form__input:-moz-placeholder           {
    color: #172343;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.form__input:-ms-input-placeholder      {
    color: #172343;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
}

.modal__call label {
    color: rgba(23, 35, 67, 0.85);
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.modal__call label a {
    color: rgba(23, 35, 67, 0.85);
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    text-decoration-line: underline;
    margin-left: 4px;
}

.form__submit {
    border-radius: 500px;
    border: none;
    padding: 10px 33px;
    background: #172343;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 30px;
    transition: all .5s ease;
}

.form__submit:hover {
    color: #172343;
    background: #fff;
}

.modal__call__close {
    width: 44px;
    height: 44px;
    position: absolute;
    background: #172343;
    top: 24px;
    right: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease;
}

span.mmc__line {
    width: 30px;
    height: 1px;
    position: absolute;
    background: #c4af8d;
    transition: all .5s ease;
}

span.mmc__line:nth-child(1) {
    transform: rotate(45deg);
}

span.mmc__line:nth-child(2) {
    transform: rotate(-45deg);
}

.modal__call__close:hover {
    background: #fff;
}

.modal__call__close:hover > .mmc__line {
    background: #172343;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #33394F;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: all .5s ease;
}

.custom-checkbox:checked+label::before {
    border-color: #33394F;
    background-color: #33394F;
    background-image: url("../img/check.svg");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #ffffff;
}
  /* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #33394F;
    border-color: #33394F;
}
  /* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #33394F;
}
  /* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}

/* SECTION SLIDERS STYLES */
.screen_6 ul.slick-dots,
.screen_7 ul.slick-dots,
.screen_15 ul.slick-dots {
    display: none !important;
}

/* PRELOADER */

.preloader {
    position: fixed;
    z-index: 99999999;
    background: #172343;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.preloader__wrapper {
    display: flex;
    justify-content: flex-start;
    max-width: 104px;
    overflow: hidden;
    transition: all 1s ease;
}

.preloader__container {
    display: flex;
    position: relative;
}

.preloder__text {
    margin-left: 25px;
}

.preloader__overlay__left {
    position: absolute;
    display: flex;
    width: 183px;
    height: 124px;
    background: #172343;
    transform: rotate(48deg);
    bottom: -45px;
    left: -85px;
    transition: all 1s ease;
}

.preloader__overlay__right {
    position: absolute;
    display: flex;
    width: 183px;
    height: 124px;
    background: #172343;
    transform: rotate(48deg);
    bottom: 48px;
    left: -5px;
    transition: all 1s ease;
}

/* ANOTHER */

.screen_2 img, .screen_4 img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.apartament__bg img {
    width: 100%;
}

main.wrapper {
    overflow-x: hidden;
}

.apartment__mobile {
    display: none;
}

.mobile__select, .mobile__counter {
    display: none;
}